/*=============================================================================================	
	Author : Muhammad Febriansyah
	Date       : Mei 2017
==============================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

body {
	color: #2c2c2c;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.wow {
   visibility: hidden;
}
.overflowHidden {
    overflow: hidden;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.regular {
	font-weight: lighter;
}
.left {
	float: left;
	display:inline;
}
.right {
	float: right;
	display:inline;
}
.relative{
	position:relative;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
	color: #000;
    transition: all 0.3s ease-in-out 0s;
}
a:focus{
	outline: 0;
}
strong {
	font-weight: 700;
}
p {
	margin: 1px 0 15px;
	line-height: 25px;
}
input, textarea, select {
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	border: none;
	border: 1px solid #c9c9c9;
	padding: 5px;
	margin: 0;
	color: #666;
}
img {
	margin-bottom: -3px;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
}
section {
    position: relative;
}
.text-center {
	text-align: center;
}
.rows{
	padding: 20px 0;
}
.overflowhidden{
	overflow: hidden;
}
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 20px;
}
.mid-wrapper{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.inner_wrap{ width:800px; margin: 0 auto; }
.afterclear:after {
	clear: both;
	content: '';
	display: block;
}
/* style button
----------------------------------------------------------------------------------------------*/

/* style header
----------------------------------------------------------------------------------------------*/

/* style kontent
----------------------------------------------------------------------------------------------*/
.bannerBig{
	background: url(../images/bg_banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 80vh;
	position: relative;
}
.bannerBig.pagi{
	background: url(../images/weather-morning.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bannerBig.siang{
	background: url(../images/weather-noon-1.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bannerBig.sore{
	background: url(../images/weather-evening-2.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bannerBig.malam{
	background: url(../images/weather-night.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.temp_text{
	position: absolute;;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px;
}
.temp_text h3{
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #1b313f;
	margin: 10px 0  5px 0;
}
.temp_text span{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #1b313f;
}
.content_tenant{
	display: block;
	padding: 10px 0;
}
.place_text{
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 0;
	padding: 20px;
}
.place_text h3{
	font-size: 42px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0;
}
.place_text span{
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}
.list_icon,.list_vs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-y: hidden;
	width: 100%;
	list-style-type: none;
	padding: 10px;
	margin: 0;
}
.item_icon{
	border-radius: 10px;
	background: #f2f5f6;
	text-align: center;
	width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-overflow-scrolling: touch;
    margin-right: 15px;
    position: relative;
    padding:10px;
}
.item_vs{
	border-radius: 10px;
	background: #f2f5f6;
	text-align: center;
	width: 100px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-overflow-scrolling: touch;
    margin-right: 15px;
    position: relative;
}
.thumb_vs{
	display: inline-block;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	border: 2px solid #005390;
}
.thumb_vs img{
	height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3px;
}
.caption_vs{
	display: block;
	padding: 3px;
	width: 100%;
}
.caption_vs h3{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin: 0;
}
.item_icon img{
	display: inline-block;
}
#main_content{
	border-top: 1px solid #eee;
	padding: 20px 0;
}
.bride_text h3{
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #3a3a3a;
	margin: 0;
}
.bride_text p{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #686b6e;
}
.group_news{
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
}
.group_news:last-child{
	border-bottom: none;
}
.thumb_news{
	display: inline-block;
	vertical-align: top;
	width: 90px;
	height: 90px;
	border-radius: 10px;
	overflow:hidden;
}
.thumb_news img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.caption_news{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	padding-left: 15px;
}
.caption_news h3{
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.31;
	letter-spacing: normal;
	color: #3a3a3a;
	margin: 0 0 3px 0;
}
.caption_news span{
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #979797;
}
#visual_stories{
	display: block;
	width: 100%;
	background: #f6f7f7;
	padding: 20px 0;
	margin-bottom: 40px;
}
.title_vs{
	display: block;
	max-width: 100px;
	margin-bottom: 15px;
}
.opacity_none {
    opacity: 0;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 0.5em;
  background: #005c9e; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.loader_gif{
	background: #fff;
	text-align: center;
}
.loader_gif .loadingnya {
    display: inline-block;
    max-width: 100px;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3a3a3a;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgba(0,0,0,0.3);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*------------- footer -----------------*/
footer{
	padding: 20px;
	margin-top: 40px;
	background: #fff;
	border-top: 1px solid #eeeeee;
	text-align: center;
}
.logo_footer{
	display: inline-block;
	max-width: 140px;
}

/* ------------------------- popup style -----------------------*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
